* {
  padding: 0%;
  margin: 0%;
}
/* =================== header styling start here ================== */
#header {
  background-color: beige;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  z-index: 9997;
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}
.image {
  margin: 15px auto;
  display: block;
  width: 170px;
  border: 8px solid #2c2f3f;
  border-radius: 90px;
}
.profile_heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.profile_heading a {
  color: #fff;
  text-decoration: none;
}
.social_link {
  margin-top: 10px;
}
.social_link a {
  font-size: 20px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1.5;
  padding: 11px 6px;
  margin-right: 6px;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 25px;
  transition: 0.3s;
}
.social_link a:hover {
  color: blue;
}
.nav_leftside {
  margin: 12px 0px 0px 20px;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}
.nav_leftside ul li {
  color: white;
  margin: 25px;
  list-style-type: none;
}
.nav_leftside ul li a {
  text-decoration: none;
  color: white;
}
.nav_leftside ul li span {
  margin-left: 10px;
  text-decoration: none;
}
/* =================== header styling end here ================== */

/* =================== hero  styling start here ================== */
#hero {
  width: 100%;
  height: 100vh;
  background-image: url("./imges/saqi202.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.display {
  position: fixed;
  right: 12px;
  top: 12px;
  border: 2px solid #040b14;
  border-radius: 20px;
  padding: 8px;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #149ddd;
  color: white;
}
.display:hover {
  color: red;
}
#hero h2 {
  min-width: 300px;
  padding: 30% 0px 0px 30%;
  font-size: 45px;
  color: #040b14;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
  opacity: 1;
}
#hero p {
  color: #fff;
  min-width: 300px;
  padding-left: 30%;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
}
/* =================== Hero section styling end here ================== */

/* =================== Hero section responsive start here ================== */
@media only screen and (max-width: 1000px) {
  #hero {
    background-attachment: fixed;
  }
  #hero h2 {
    padding: 30% 0px 0px 30%;
    font-size: 40px;
  }
  #hero p {
    padding: 0% 0px 0px 30%;
  }
}
@media only screen and (max-width: 800px) {
  #hero {
    background-attachment: fixed;
    background-size: cover;
  }
  #hero h2 {
    font-size: 35px;
    line-height: 36px;
    padding: 30% 0px 0px 25%;
    font-weight: 300;
  }
  #hero p {
    padding: 0% 0px 0px 25%;
  }
}
@media only screen and (max-width: 600px) {
  #hero {
    background-size: cover;
    background-attachment: fixed;
  }
  #hero h2 {
    font-size: 30px;
    line-height: 30px;
    padding: 30% 0px 0px 22%;
    width: 100px;
  }
  #hero p {
    padding: 0% 0px 0px 22%;
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  #hero {
    background-size: cover;
    background-attachment: fixed;
  }
  #hero h2 {
    font-size: 25px;
    line-height: 25px;
    padding: 30% 0px 0px 8%;
    width: 50px;
  }
  #hero p {
    padding: 0% 0px 0px 8%;
  }
}
/* =================== Hero section responsive end here ================== */
.footer {
  padding: 10px;
  padding-left: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 12px;
  bottom: 12px;
  width: 300px;
}

/* ============= Main content  start here ============= */
#main {
  margin-left: 350px;
}
/* ============= Main content responsive start here ============= */
@media only screen and (max-width: 1000px) {
  #main {
    margin-left: 0px;
  }
  #header {
    display: none;
  }
}
/* ============= Main content responsive end here ============= */
/* ============= Main content About section start here ============= */
#about {
  height: auto;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 5%;
}

.about_heading {
  color: #173b6c;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
}
.liner {
  width: 50px;
  display: block;
  height: 3px;
  background: #149ddd;
  position: relative;
  top: 60px;
  left: 0%;
}
.about_para {
  margin-top: 30px;
  color: rgb(42, 32, 32);
}
.about_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
@media only screen and (max-width: 800px) {
  .about_content {
    flex-direction: column;
    align-items: left;
  }
}
.about_content_1 {
  width: 40%;
}
.about_content_1 img {
  width: 90%;
  border: 2px solid rgb(190, 185, 185);
}
.about_content_2 {
  width: 60%;
}
.about_content_2 h1 {
  color: #173b6c;
  font-size: 30px;
}
.Info_flex {
  display: flex;
  justify-content: space-between;
  color: rgb(42, 32, 32);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
@media only screen and (max-width: 800px) {
  .Info_flex {
    flex-direction: column;
    font-size: 18px;
  }
  .about_content_1 img {
    width: 100%;
  }
  .about_content_2 h1 {
    width: 90%;
  }
}
.info_div1 ul {
  list-style-type: none;
}
.info_div1 ul li {
  margin-top: 15px;
}
.info_div2 ul {
  list-style-type: none;
}
.info_div2 ul li {
  margin-top: 15px;
}
.info_para {
  font-family: "Raleway", sans-serif;

  color: rgb(42, 32, 32);
  margin-top: 20px;
}
/* ============= Main content About section end here ============= */
/* ============= Main content facts section start here ============= */
#facts {
  padding: 20px;
  height: auto;
  margin-bottom: 5%;
}
.section_title {
  padding-bottom: 30px;
}
.section_title h2 {
  color: #173b6c;
  margin-top: 20px;
  font-size: 32px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.liner_fact {
  width: 50px;
  height: 3px;
  background: #149ddd;
  display: block;
  position: relative;
  top: 0px;
  left: 0%;
}

.section_title p {
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.5;
}
.client_reaction {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 30px;
  margin-bottom: 50px;
}

.reaction {
  width: 20%;
  margin-right: 20px;
}
.counter_box svg {
  display: block;
  color: #149ddd;
  float: left;
  margin-right: 10px;
}
.count_reaction {
  font-size: 48px;
  line-height: 40px;
  display: inline-block;
  font-weight: 700;
  color: #050d18;
  margin-left: 7px;
}
.count_reaction_para {
  padding: 14px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}
@media only screen and (max-width: 800px) {
  .client_reaction {
    flex-direction: column;
  }
  .reaction {
    width: 40%;
    margin-top: 12px;
  }
}
/* ============= Main content facts section end here ============= */
/* ============= Main content skill section start here ============= */
.skill_section {
  background: #f5f8fd;
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  font-family: "Raleway", sans-serif;
}
.skill_title {
  padding-bottom: 30px;
}
.skill_title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}
.skill_title p {
  margin-bottom: 0%;
}
.progress_bars {
  display: flex;
  justify-content: space-between;
}
.left__progress {
  width: 50%;
  margin-right: 1%;
}
.right_progress {
  width: 50%;
  margin-left: 1%;
}
.container {
  background: #dce8f8;
}
.skill {
  background-color: #173b6c;
  color: white;
  padding: 1.2%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.left__progress i {
  float: right;
}
.right_progress i {
  float: right;
}
@media only screen and (max-width: 800px) {
  .progress_bars {
    flex-direction: column;
  }
  .skill {
    margin-top: 20px;
  }
  .left__progress {
    width: 70%;
  }
  .right_progress {
    width: 70%;
  }
}
/* ============= Main content skill section end here ============= */
/* ============= Main content resume section start here ============= */
#resume {
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}
.left_resume_content {
  width: 50%;
  padding-right: 15px;
}
.right_resume_content {
  width: 50%;
  padding-left: 12px;
}
.resume_title {
  padding-bottom: 30px;
}
.resume_title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #173b6c;
}
.resume_title p {
  margin-bottom: 0;
}
.resume_content {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 5%;
  margin-bottom: 5%;
}

.left_resume_content h3 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.right_resume_content h3 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}
.resume_item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
  margin-top: 30px;
}
.resume_item p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.resume_item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
@media only screen and (max-width: 800px) {
  .resume_content {
    flex-direction: column;
  }
  .left_resume_content {
    width: 80%;
  }
  .right_resume_content {
    width: 80%;
  }
}
/* ============= Main content resume section end here ============= */
/* ============= Main content services section start here ============= */
#service {
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}
.services_title {
  padding-bottom: 30px;
}
.services_title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #173b6c;
}
.services_item {
  display: flex;
  margin-top: 0;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.8s;
  border: 1px solid #149ddd;
}
.icon svg {
  color: #fff;
  font-size: 35px;
  line-height: 0;
}
.icon_title {
  margin-top: 15px;
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.icon_title a {
  color: #343a40;
}
.description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
@media only screen and (max-width: 800px) {
  .services_item {
    flex-direction: column;
    width: 70%;
    box-sizing: border-box;
    margin: 0% auto;
  }
}
/* ============= Main content services section end here ============= */
/* ============= Main contact services section start here ============= */
#contact {
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}
.contact_title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #173b6c;
}
.form_backgrount {
  opacity: 1;
  transform: translateZ(0);
}
.contact_content {
  margin-top: 5%;
  display: flex;
}
.contact1 {
  padding: 10px;
  border-radius: 12px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.right_contact {
  width: 50%;
  margin-left: 12px;
}
.left_contact {
  width: 50%;
  margin-right: 20px;
}
.contact_info svg {
  font-size: 12px;
  color: #149ddd;
  float: left;
  width: 40px;
  height: 40px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.contact_info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}
.contact_info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}
.from_last {
  padding: 120px;
}
.form_last input {
  height: 44px;
  padding-left: 4px;
  border-radius: 0;
  border-radius: 9px;
  box-shadow: none;
  font-size: 17px;
}
.form_last label {
  margin-top: 15px;
  padding-bottom: 12px;
  display: block;
}
.form_name {
  display: flex;
  margin-top: 0;
  justify-content: space-between;
}
.form {
  padding-bottom: 8px;
}
.form_btn{
  text-align: center;
  margin-top: 15px;
}
.submit_btn {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.form_message textarea{
  padding: 5px;
  font-size: 16px;

}
/* ============= Main contact services section end here ============= */
/* ============= Main content end here ============= */
