* {
  padding: 0%;
  margin: 0%;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  box-sizing: border-box;
}
/* =================== header styling start here ================== */
#header {
  background-color: beige;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}
.image {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
  border-radius: 90px;
}
.profile_heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.profile_heading a {
  color: #fff;
  text-decoration: none;
}
.social_link {
  margin-top: 15px;
  text-align: center;
}
.social_link a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1.6;
  padding: 8px 4px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 28px;
  transition: 0.3s;
}
.social_link a:hover {
  color: white;
  background-color: #149ddd;
}
.nav_leftside {
  margin: 8px 0px 0px 8px;
  font-size: 18px;
}

.nav_leftside a {
  padding: 5px 0px;
}

.nav_leftside a:hover {
  color: #149ddd;
}
.nav_leftside ul li {
  color: white;
  margin: 25px;
  list-style-type: none;
}
.nav_leftside ul li a {
  text-decoration: none;
  color: white;
}
.nav_leftside ul li span {
  margin-left: 10px;
  text-decoration: none;
}
/* =================== header styling end here ================== */

/* =================== main  styling start here ================== */
#main {
  margin-left: 330px;
}
/* ============= Main content responsive start here ============= */
@media only screen and (max-width: 1000px) {
  #main {
    margin-left: 0px;
  }
  #header {
    display: none;
  }
}

/* ============= Main content responsive end here ============= */

/* =================== hero  styling start here ================== */

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("./imges/saqi202.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#hero h2 {
  min-width: 300px;
  padding: 30% 0px 0px 30%;
  font-size: 3.5vw;
  color: #040b14;
  font-weight: 700;
  line-height: 2em;
  color: #fff;
  opacity: 1;
}
#hero p {
  color: #fff;
  /* min-width: 300px; */
  padding-left: 30%;
  font-size: 2vw;
}
/* =================== Hero section styling end here ================== */

/* =================== Hero section responsive start here ================== */
/* =================== Hero section responsive end here ================== */

/* ============= Main content  heading and paragrapg  start here ============= */
.section_body {
  max-width: 13220px;
}
.liner {
  width: 50px;
  display: block;
  height: 3px;
  margin: 25px 0px;
  background: #149ddd;
  position: relative;
  top: 2px;
  left: 0%;
}
.section_title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title p {
  margin-bottom: 0;
}

/* ============= Main content  heading and paragrapg start here ============= */

#about {
  height: auto;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 5%;
}
.about_content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.about_content_1 {
  width: 40%;
}
.about_content_1 img {
  width: 90%;
  border: 2px solid rgb(190, 185, 185);
}
.about_content_2 {
  width: 60%;
}
.about_content_2 h1 {
  color: #173b6c;
}
.Info_flex {
  display: flex;
  justify-content: space-between;
  color: rgb(42, 32, 32);
  font-size: 16px;
}
.info_div1 ul {
  list-style-type: none;
}
.info_div1 ul li {
  margin-top: 15px;
}
.info_div2 ul {
  list-style-type: none;
}
.info_div2 ul li {
  margin-top: 15px;
}
.info_para {
  color: rgb(42, 32, 32);
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .about_content {
    flex-direction: column;
    align-items: left;
  }
}
@media only screen and (max-width: 800px) {
  .Info_flex {
    flex-direction: column;
    font-size: 18px;
  }
  .about_content_1 img {
    width: 100%;
  }
  .about_content_2 h1 {
    width: 90%;
  }
}
/* ============= Main content About section end here ============= */
/* ============= Main content facts section start here ============= */
#facts {
  height: auto;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 5%;
}

.client_reaction {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.reaction {
  width: 20%;
  margin-right: 20px;
}
.counter_box svg {
  display: block;
  color: #149ddd;
  float: left;
  margin-right: 10px;
}
.count_reaction {
  font-size: 48px;
  line-height: 40px;
  display: inline-block;
  font-weight: 700;
  color: #050d18;
  margin-left: 7px;
}
.count_reaction_para {
  padding: 14px 0 0 0;
  margin: 0 0 0 60px;
  font-size: 14px;
  color: #122f57;
}
@media only screen and (max-width: 800px) {
  .client_reaction {
    flex-direction: column;
  }
  .reaction {
    width: 40%;
    margin-top: 12px;
  }
}
/* ============= Main content facts section end here ============= */
/* ============= Main content skill section start here ============= */
.skill_section {
  background: #f5f8fd;
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
}

.progress_bars {
  display: flex;
  justify-content: space-between;
}
.left__progress {
  width: 50%;
  margin-right: 1%;
}
.right_progress {
  width: 50%;
  margin-left: 1%;
}
.container {
  background: #dce8f8;
}
.skill {
  background-color: #149ddd;
  color: white;
  padding: 1.2%;
  text-align: right;
  font-size: 20px;
  transition: 0.9s;
  /* border-radius: 15px; */
  margin-top: 12px;
  margin-bottom: 12px;
}
.left__progress i {
  float: right;
}
.right_progress i {
  float: right;
}
@media only screen and (max-width: 800px) {
  .progress_bars {
    flex-direction: column;
  }
  .skill {
    margin-top: 20px;
  }
  .left__progress {
    width: 70%;
  }
  .right_progress {
    width: 70%;
  }
}
/* ============= Main content skill section end here ============= */
/* ============= Main content resume section start here ============= */
#resume {
  padding: 20px;
  margin-top: 4%;
  overflow: hidden;
}
.left_resume_content {
  width: 50%;
  padding-right: 15px;
}
.resume_title {
  padding-bottom: 30px;
}

.resume_content {
  display: flex;
  margin-top: 2%;
  margin-bottom: 5%;
}

.left_resume_content h3 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.right_resume_content h3 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.resume_item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
}

.circle {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -23px;
  top: 49px;
  margin-top: 1px;
  background: #fff;
  border: 2px solid #1f5297;
}
.left_liner {
  /* display: flex; */
}
.resume_item h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #050d18;
  margin-bottom: 10px;
  margin-top: 30px;
}
.resume_item p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.resume_item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
@media only screen and (max-width: 800px) {
  .resume_content {
    flex-direction: column;
  }
  .left_resume_content {
    width: 80%;
  }
  .right_resume_content {
    width: 80%;
  }
}
/* ============= Main content resume section end here ============= */
/* ============= Main content portfolio section end here ============= */
#portfolio {
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  background: #f5f8fd;
  overflow: hidden;
}

.portfolio_apps {
  background-color: white;
  width: 30%;
  margin: 0px auto;
  border-radius: 33px;
  cursor: pointer;
  padding: 10px 15px 8px 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 5px;
}
.portfolio_apps_nav {
  display: flex;
  justify-content: center;
}
.portfolio_apps_nav li {
  margin-left: 30px;
  list-style-type: none;
}
.Portfolio_app_img {
  /* height: 100vh; */
  width: 100%;
  /* background-color: red; */
}
.app_images img {
  height: 200px;
  width: 40%;
}
.app_images {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}
@media only screen and (max-width: 800px) {
  .app_images {
    flex-direction: column;
  }
  .app_images img {
    width: 300px;
    margin-top: 12px;
  }
}
/* ============= Main content portfolio section end here ============= */

/* ============= Main content services section start here ============= */
#service {
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  overflow: hidden;
}

.services_item {
  display: flex;
  margin-top: 0;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.8s;
  border: 1px solid #149ddd;
}
.icon svg {
  color: #fff;
  font-size: 35px;
}

.icon_title {
  margin-top: 15px;
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.icon_title a {
  color: #343a40;
}
.description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
@media only screen and (max-width: 800px) {
  .services_item {
    flex-direction: column;
    width: 70%;
    box-sizing: border-box;
    margin: 0% auto;
  }
}
/* ============= Main content services section end here ============= */
/* ============= Main content Testimonials section start here ============= */
#Testimonials {
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  overflow: hidden;
  background: #f5f8fd;
}

.testimonial_container {
  display: flex;
  animation: slideAnimation 20s infinite;
}
@keyframes slideAnimation {
        0% {
          transform: translateX(0%);
        }
        33.33% {
          transform: translateX(-100%);
        }
        66.66% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(100%);
        }
      }
.triangle {
  width: 80%;
  font-style: italic;
  margin: 0 15px 10px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.triangle:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #f5f8fd;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -25px;
  left: 140px;
}
.testimonial_item img {
  width: 90px;
  border-radius: 50%;
  margin: 15px auto;
  margin-left: 100px;
}
.testimonial_item h3 {
  margin-left: 100px;
}
.testimonial_item h4 {
  margin-left: 100px;
}
/* ============= Main content Testimonials section end here ============= */

/* ============= Main contact services section start here ============= */
#contact {
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 5%;
  overflow: hidden;
}

.contact_content {
  margin-top: 5%;
  display: flex;
}
.contact1 {
  padding: 10px;
  border-radius: 12px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.right_contact {
  width: 50%;
  margin-left: 12px;
}
.left_contact {
  width: 50%;
  margin-right: 20px;
}
.contact_info svg {
  font-size: 12px;
  color: #149ddd;
  float: left;
  width: 40px;
  height: 40px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.contact_info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}
.contact_info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}
.from_last {
  padding: 120px;
  width: 100%;
}
.form_last input {
  height: 44px;
  padding-left: 4px;
  border-radius: 0px;
  box-shadow: none;
  font-size: 17px;
  box-sizing: border-box;
}


.form_last label {
  margin-top: 15px;
  padding-bottom: 12px;
  display: block;
}
.form_name {
  display: flex;
  width: 100%;
  margin-top: 0;
  justify-content: space-between;
}
.form_name input{
  width: 100%;
}
.form {
  padding-bottom: 8px;
}
.form_btn {
  text-align: center;
  margin-top: 15px;
}
.submit_btn {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.form-subject input{
  width: 100%;
}
.form_message textarea {
  width: 98%;
  padding: 5px;
  font-size: 16px;
}
@media only screen and (max-width: 800px) {
  .form_name {
    flex-direction: column;
  }
  .contact_content {
    flex-direction: column;
  }
  .form_message textarea {
    width: 100%;
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .conatainer_body {
    width: 80%;
    box-sizing: border-box;
    margin: 0% auto;
  }
}
/* ============= Main contact services section end here ============= */
/* ============= Main  footer start here ============= */

.footer {
  padding: 15px;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background-color: #040b14;
}

/* ============= Main  footer end here ============= */
/* ============= Main content end here ============= */
