* {
  padding: 0%;
  margin: 0%;
}
.total__body {
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
}
.left__header {
  background-color: beige;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

.image {
  margin: 15px auto;
  display: block;
  width: 170px;
  border: 8px solid #2c2f3f;
  border-radius: 90px;
}
.profile_heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.profile_heading a {
  color: #fff;
  text-decoration: none;
}

.Right__header {
  width: 100%;
  height: 100vh;
  background-image: url("saqi202.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: 100px; */
  overflow: auto;
}
.Right__header h1 {
  /* position: relative; */
  /* z-index: 2; */
  /* min-width: 300px; */
  margin: 250px 0px 0px 300px;
  font-size: 55px;
  /* font-weight: 700; */
  line-height: 60px;
  color: #fff;
}
.Right__header p {
  color: #fff;
  margin-left: 300px;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
.social_link {
  margin-top: 10px;
}

.social_link a {
  font-size: 20px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1.5;
  padding: 11px 6px;
  margin-right: 6px;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 25px;
  transition: 0.3s;
}
.social_link a:hover {
  color: blue;
}
.nav_leftside {
  margin: 12px 0px 0px 20px;
  font-size: 20px;
  font-family: sans-serif;
}
.nav_leftside ul li {
  color: white;
  margin: 25px;
  list-style-type: none;
}
.nav_leftside ul li a {
  text-decoration: none;
  color: white;
}
.nav_leftside ul li span {
  margin-left: 10px;
  text-decoration: none;
}
.footer {
  padding: 10px;
  padding-left: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 12xp;
  bottom: 12px;
  width: 300px;
}
#main {
  margin-left: 350px;
}
#about {
  width: 100%;
  height: 100vh;
  /* background-color: #2a49bd; */
  /* margin-top: 0%;/ */
  /* margin-left: 350px; */
}
.about_heading {
  margin: 20px 12px;
  font-size: 30px;
  /* padding: 2%; */
}
.about_para {
  margin-top: 20px;
  margin-left: 12px;
  font-size: 20px;
  /* margin-left: 350px; */
  /* width: 400px; */
  /* margin-right: 100px; */
}
.about_content{
  display: flex;
  /* justify-content:; */
  background-color: antiquewhite;
  margin-top: 40px;
}
.about_content_1{
  background-color: aquamarine;
  width: 40%;
  
}
.about_content_1 img {
  width: 90%;
  margin-left:3%;
}
.about_content_2{
  background-color: rgb(58, 108, 92);
  width: 60%;
  
}
.about_content_2 h1{
  margin-left: 3%;
    font-size: 30px;
}